.canvas_wrap {
  position: relative;
  display: flex;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
  padding-top: 50px;
  overflow: hidden;
}

.canvas {
  width: 114vh;
  height: 52vh;
  position: absolute;
}

.inputBox {
  width: 120vh;
  margin: 50px auto 0px;
}

.titleBox {
  width: 250px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
