.sidebar {
}

.sidebar > div {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 20px 20px;
}

.sidebar > div:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.blackCircle {
  background-color: black;
}

.redCircle {
  background-color: #ff8f8f;
}

.yellowCircle {
  background-color: #f8e68c;
}

.greenCircle {
  background-color: green;
}
