@font-face {
  font-family: "AppleB";
  src: url("./fonts/AppleSDGothicNeoB.ttf");
}
@font-face {
  font-family: "AppleM";
  src: url("./fonts/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
}

* {
  font-family: "AppleM";
  margin: 0;
  color: #545a5f;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 10px;
  border: 4px solid #00000000;
  height: 56px;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a5a3a3;
}

.Toastify__close-button--light:hover {
  background-color: #ffffff;
  color: #000;
}
