@font-face {
  font-family: "AppleB";
  src: url("./fonts/AppleSDGothicNeoB.ttf");
}
@font-face {
  font-family: "AppleM";
  src: url("./fonts/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
}

* {
  font-family: "AppleM";
  overflow-x: hidden;
  margin: 0;
}

h1 {
  font-family: "AppleB";
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #9ecc93;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 10px;
  border: 4px solid #00000000;
  height: 56px;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a5a3a3;
}

/* button {
  color: #9ecc93;
  border: 1px solid #9ecc93;
  background-color: white;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #9ecc93;
} */

.Toastify__close-button--light:hover {
  background-color: #ffffff;
  color: #000;
}

hr {
  background-color: #9ecc93;
  border: 0px;
  height: 1px;
}
