button {
  cursor: pointer;
}
@font-face {
  font-family: 'AppleB';
  src: url('./fonts/AppleSDGothicNeoB.ttf');
}
@font-face {
  font-family: 'AppleM';
  src: url('./fonts/AppleSDGothicNeoM.ttf');
}

* {
  font-family: 'AppleM';
}

h1 {
  font-family: 'AppleB';
}

a {
  text-decoration: none;
  color: black;
}
