.wrapper {
  padding: 50px 10vw;
  background-color: #fbfbfb;
}
.canvas_wrap {
  position: relative;
  display: flex;
  padding-top: 20px;
  overflow: hidden;
}

canvas {
  width: 154vh;
  height: 78vh;
  position: absolute;
}

.titleBox {
  width: 250px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 50px;
  font-size: 16px;
}

/* 위대포 */
.item4 {
  cursor: url("../Assets/Item/gun_up.png") 10 10, auto;
}

/* 아래대포 */
.item5 {
  cursor: url("../Assets/Item/gun_down.png") 10 10, auto;
}

/* 오른쪽대포 */
.item6 {
  cursor: url("../Assets/Item/gun_right.png") 10 10, auto;
}

/* 왼쪽대포 */
.item7 {
  cursor: url("../Assets/Item/gun_left.png") 10 10, auto;
}

/* 포탈 */
.item8 {
  cursor: url("../Assets/Item/potal.png") 10 10, auto;
}

/* 방패 */
.item9 {
  cursor: url("../Assets/Item/guard.png") 10 10, auto;
}

/* 스프링 */
.item10 {
  cursor: url("../Assets/Item/spring.png") 10 10, auto;
}

/* 투명벽 */
.item11 {
  cursor: url("../Assets/Item/invisible_lock.png") 10 20, auto;
}

/* 포션 */
.item12 {
  cursor: url("../Assets/Item/potion.png") 10 10, auto;
}

/* 가시 */
.item13 {
  cursor: url("../Assets/Item/gasi.png") 10 10, auto;
}

.item14 {
  cursor: url("../Assets/Item/invisible_block.png") 10 10, auto;
}

/* 지우개 */
.del0,
.del1,
.del2,
.del3,
.del4,
.del5,
.del6,
.del7,
.del8,
.del9,
.del10,
.del11,
.del12,
.del13,
.del14 {
  cursor: url("../Assets/Item/eraser.png") 10 20, auto;
}

/* 벽 */
.wall0,
.wall1,
.wall2,
.wall3 {
  cursor: url("../Assets/Item/hamer.png") 10 10, auto;
}
