.wrapper {
  padding: 50px 10vw;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canvas_wrap {
  position: relative;
  padding-top: 20px;
  display: flex;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 1120px;
  height: 632px;
}

.inputBox {
  width: 1230px;
}

.titleBox {
  width: 250px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 50px;
  font-size: 16px;
}

.sidebar_wrap {
  margin-left: 20px;
}
.toolbar_wrap {
  width: 1230px;
}

.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.wall0,
.wall1,
.wall2,
.wall3 {
  cursor: url("../Assets/Item/hamer.png") 3 7, auto;
}

/* 지우개 */
.del0,
.del1,
.del2,
.del3,
.del4,
.del5,
.del6,
.del7,
.del8,
.del9,
.del10,
.del11,
.del12,
.del13,
.del14 {
  cursor: url("../Assets/Item/eraser.png") 10 20, auto;
}
